<template name="stock">
{{>nav}}
<div class="container">
        <div class="alert alert-warning">
            <h1 align="center">Stock View</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <ul class="list-group">
                     <li class="list-group-item">
                            <div class="row">
                                -------Category
                            </div>
                        </li> 
                    {{#each product}}
                        <li class="list-group-item">
                            <div class="row">
                                {{name}}-------{{quantity}}
                            </div>
                        </li>
                    {{/each}}
                    <li class="list-group-item">
                            <div class="row">
                                
                            </div>
                        </li> 

                          <li class="list-group-item">
                            <div class="row">
                                -------Ingred Stock
                            </div>
                        </li> 
                    {{#each ing}}
                        <li class="list-group-item">
                            <div class="row">
                                {{name}}-------{{quantity}}g
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>


</template>
