<template name="cartadminlayout">

    <div class="container-fluid" style="padding-left: 2px; padding-right: 2px;">
        {{>yield}}
    </div>
    
    <div class="container-fluid" style="padding-left: 0; padding-right: 0; position: fixed; bottom:0; width:100%;">
        <div class="btn-group btn-group-justified" role="group" aria-label="..." style="width:100%">
            <div class="btn-group" role="group">
                <a class="btn btn-default" href="/" role="button">
                    <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
                </a>
            </div>


        </div>
    </div>

</template>