<template name="pos_tablelist">
	{{> nav}}

    <div class="container">
    	<div class="row">
    		<div class="col-md-10">
    			<div class="row">
    				{{#with table_check "purple1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-a table-btn-purple col-md-1" id="purple1" value="purple1">1</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-a table-btn-purple col-md-1" id="purple1" value="purple1">1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a table-btn-purple col-md-1" id="purple1" value="purple1">1</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "purple2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-a table-btn-purple col-md-1" id="purple2" value="purple2">2</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-a table-btn-purple col-md-1" id="purple2" value="purple2">2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a table-btn-purple col-md-1" id="purple2" value="purple2">2</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "green1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-a table-btn-green col-md-1" id="green1" value="green1">1</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-a table-btn-green col-md-1" id="green1" value="green1">1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a table-btn-green col-md-1" id="green1" value="green1">1</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "green2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-a table-btn-green col-md-1" id="green2" value="green2">2</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-a table-btn-green col-md-1" id="green2" value="green2">2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a table-btn-green col-md-1" id="green2" value="green2">2</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "yellow1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow1" value="yellow1">1</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow1" value="yellow1">1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow1" value="yellow1">1</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "yellow2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow2" value="yellow2">2</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow2" value="yellow2">2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow2" value="yellow2">2</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "blue1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-a table-btn-blue col-md-1" id="blue1" value="blue1">1</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-a table-btn-blue col-md-1" id="blue1" value="blue1">1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a table-btn-blue col-md-1" id="blue1" value="blue1">1</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "blue2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-a table-btn-blue col-md-1" id="blue2" value="blue2">2</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-a table-btn-blue col-md-1" id="blue2" value="blue2">2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a table-btn-blue col-md-1" id="blue2" value="blue2">2</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "red1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-a table-btn-red col-md-1" id="red1" value="red1">1</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-a table-btn-red col-md-1" id="red1" value="red1">1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a table-btn-red col-md-1" id="red1" value="red1">1</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "red2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-a table-btn-red col-md-1" id="red2" value="red2">2</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-a table-btn-red col-md-1" id="red2" value="red2">2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a table-btn-red col-md-1" id="red2" value="red2">2</button>
			    		{{/if}}
		    		{{/with}}
	    	    </div>

	    	    <div class="row"><br></div>

	    	    <div class="row">
	    	    	{{#with table_check "c1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-s table-btn-yellow col-md-1" style="margin-right:20px;" id="c1" value="c1">C1</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-s table-btn-yellow col-md-1" style="margin-right:20px;" id="c1" value="c1">C1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-s table-btn-yellow col-md-1" style="margin-right:20px;" id="c1" value="c1">C1</button>
			    		{{/if}}
		    		{{/with}}

    				{{#with table_check "s11"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-s table-btn-purple col-md-1" id="s11" value="s11">S11</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-s table-btn-purple col-md-1" id="s11" value="s11">S11</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-s table-btn-purple col-md-1" id="s11" value="s11">S11</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "s12"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-s table-btn-purple col-md-1" id="s12" value="s12">S12</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-s table-btn-purple col-md-1" id="s12" value="s12">S12</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-s table-btn-purple col-md-1" id="s12" value="s12">S12</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "s13"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-s table-btn-purple col-md-1" id="s13" value="s13">S13</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-s table-btn-purple col-md-1" id="s13" value="s13">S13</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-s table-btn-purple col-md-1" id="s13" value="s13">S13</button>
			    		{{/if}}
		    		{{/with}}

		    		<div class="col-md-1"></div>

		    		{{#with table_check "vred1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-v table-btn-red col-md-1" id="vred1" value="vred1">1</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-v table-btn-red col-md-1" id="vred1" value="vred1">1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-v table-btn-red col-md-1" id="vred1" value="vred1">1</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "vred2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-v table-btn-red col-md-1" id="vred2" value="vred2">2</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-v table-btn-red col-md-1" id="vred2" value="vred2">2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-v table-btn-red col-md-1" id="vred2" value="vred2">2</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "vred3"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-v table-btn-red col-md-1" id="vred3" value="vred3">3</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-v table-btn-red col-md-1" id="vred3" value="vred3">3</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-v table-btn-red col-md-1" id="vred3" value="vred3">3</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "vred4"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-v table-btn-red col-md-1" id="vred4" value="vred4">4</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-v table-btn-red col-md-1" id="vred4" value="vred4">4</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-v table-btn-red col-md-1" id="vred4" value="vred4">4</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "vred5"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-v table-btn-red col-md-1" id="vred5" value="vred5">5</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-v table-btn-red col-md-1" id="vred5" value="vred5">5</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-v table-btn-red col-md-1" id="vred5" value="vred5">5</button>
			    		{{/if}}
		    		{{/with}}
	    	    </div>

	    	   
		    	<div class="row"><br></div>

		    	<div class="row">

		    		{{#with table_check "t1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-t table-btn-black col-md-2" id="t1" value="t1">TG 1</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-t table-btn-black col-md-2" id="t1" value="t1">TG 1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-t table-btn-black col-md-2" id="t1" value="t1">TG 1</button>
			    		{{/if}}
		    		{{/with}}
		    		{{#with table_check "t2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-t table-btn-black col-md-2" id="t2" value="t2">TG 2</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-t table-btn-black col-md-2" id="t2" value="t2">TG 2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-t table-btn-black col-md-2" id="t2" value="t2">TG 2</button>
			    		{{/if}}
		    		{{/with}}

		    		<div class="col-md-1"></div>

		    		{{#with table_check "m1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-t table-btn-black col-md-2" id="m1" value="m1">MB</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-t table-btn-black col-md-2" id="m1" value="m1">MB</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-t table-btn-black col-md-2" id="m1" value="m1">MB</button>
			    		{{/if}}
		    		{{/with}}

		    		<div class="col-md-1"></div>

		    		{{#with table_check "cb1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default table-alert tablelistbtn table-btn-t table-btn-black col-md-1" id="cb1" value="cb1">CB</button>
			    		    {{else}}
			    		        <button class="btn btn-default table-use tablelistbtn table-btn-t table-btn-black col-md-1" id="cb1" value="cb1">CB</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-t table-btn-black col-md-1" id="cb1" value="cb1">CB</button>
			    		{{/if}}
		    		{{/with}}
	    	    </div>

	    	</div>
	    	<div class="col-md-1">
	    		<button class="btn btn-primary pos_side_button" id="combineorder"><span><i class="fa fa-bars"></i></span></button>
				<button class="btn btn-primary pos_side_button" id="startall"><span><i class="fa fa-check-circle"></i></span></button>
				<button class="btn btn-primary pos_side_button" id="stopall"><span><i class="fa fa-check-circle-o"></i></span></button>
				<button class="btn btn-primary pos_side_button"><span><i class="fa fa-calendar"></i></span></button>
				<button class="btn btn-primary pos_side_button"><span><i class="fa fa-comments-o"></i></span></button>
				<button class="btn btn-primary pos_side_button"><span><i class="fa fa-cogs"></i></span></button>
	    	</div>
    	</div>
    </div>

    {{> combineorder_modal}}
</template>

<template name="combineorder_modal">
    <div class="modal fade" id="combineorder_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="height: 790px;">
                <div class="modal-body">
                	<div class="row">
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-purple col-md-1" id="purple10" value="purple10" onclick="this.blur()">10</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-purple col-md-1" id="purple5" value="purple5" onclick="this.blur()">5</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-green col-md-1" id="green10" value="green10" onclick="this.blur()">10</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-green col-md-1" id="green5" value="green5" onclick="this.blur()">5</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow10" value="yellow10" onclick="this.blur()">10</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow5" value="yellow5" onclick="this.blur()">5</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-blue col-md-1" id="blue10" value="blue10" onclick="this.blur()">10</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-blue col-md-1" id="blue5" value="blue5" onclick="this.blur()">5</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-red col-md-1" id="red10" value="red10" onclick="this.blur()">10</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-red col-md-1" id="red5" value="red5" onclick="this.blur()">5</button>
                	</div>

                	<div class="row">
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-purple col-md-1" id="purple9" value="purple9" onclick="this.blur()">9</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-purple col-md-1" id="purple4" value="purple4" onclick="this.blur()">4</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-green col-md-1" id="green9" value="green9" onclick="this.blur()">9</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-green col-md-1" id="green4" value="green4" onclick="this.blur()">4</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow9" value="yellow9" onclick="this.blur()">9</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow4" value="yellow4" onclick="this.blur()">4</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-blue col-md-1" id="blue9" value="blue9" onclick="this.blur()">9</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-blue col-md-1" id="blue4" value="blue4" onclick="this.blur()">4</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-red col-md-1" id="red9" value="red9" onclick="this.blur()">9</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-red col-md-1" id="red4" value="red4" onclick="this.blur()">4</button>
                	</div>

                	<div class="row">
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-purple col-md-1" id="purple8" value="purple8" onclick="this.blur()">8</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-purple col-md-1" id="purple3" value="purple3" onclick="this.blur()">3</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-green col-md-1" id="green8" value="green8" onclick="this.blur()">8</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-green col-md-1" id="green3" value="green3" onclick="this.blur()">3</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow8" value="yellow8" onclick="this.blur()">8</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow3" value="yellow3" onclick="this.blur()">3</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-blue col-md-1" id="blue8" value="blue8" onclick="this.blur()">8</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-blue col-md-1" id="blue3" value="blue3" onclick="this.blur()">3</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-red col-md-1" id="red8" value="red8" onclick="this.blur()">8</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-red col-md-1" id="red3" value="red3" onclick="this.blur()">3</button>
                	</div>

                	<div class="row">
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-purple col-md-1" id="purple7" value="purple7" onclick="this.blur()">7</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-purple col-md-1" id="purple2" value="purple2" onclick="this.blur()">2</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-green col-md-1" id="green7" value="green7" onclick="this.blur()">7</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-green col-md-1" id="green2" value="green2" onclick="this.blur()">2</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow7" value="yellow7" onclick="this.blur()">7</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow2" value="yellow2" onclick="this.blur()">2</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-blue col-md-1" id="blue7" value="blue7" onclick="this.blur()">7</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-blue col-md-1" id="blue2" value="blue2" onclick="this.blur()">2</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-red col-md-1" id="red7" value="red7" onclick="this.blur()">7</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-red col-md-1" id="red2" value="red2" onclick="this.blur()">2</button>
                	</div>

                	<div class="row">
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-purple col-md-1" id="purple6" value="purple6" onlick="this.blur()">6</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-purple col-md-1" id="purple1" value="purple1" onlick="this.blur()">1</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-green col-md-1" id="green6" value="green6" onlick="this.blur()">6</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-green col-md-1" id="green1" value="green1" onlick="this.blur()">1</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow6" value="yellow6" onlick="this.blur()">6</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-yellow col-md-1" id="yellow1" value="yellow1" onlick="this.blur()">1</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-blue col-md-1" id="blue6" value="blue6" onlick="this.blur()">6</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-blue col-md-1" id="blue1" value="blue1" onlick="this.blur()">1</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-red col-md-1" id="red6" value="red6" onlick="this.blur()">6</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-a table-btn-red col-md-1" id="red1" value="red1" onlick="this.blur()">1</button>
                	</div>

                	<div class="row"><br></div>

                	<div class="row">
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-yellow col-md-1" id="c1" value="c1" onclick="this.blur()">C1</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s11" value="s11" onclick="this.blur()">S11</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s12" value="s12" onclick="this.blur()">S12</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s13" value="s13" onclick="this.blur()">S13</button>
                		<div class="col-md-1"></div>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-red col-md-1" id="vred1" value="vred1" onclick="this.blur()">1</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-red col-md-1" id="vred2" value="vred2" onclick="this.blur()">2</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-red col-md-1" id="vred3" value="vred3" onclick="this.blur()">3</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-red col-md-1" id="vred4" value="vred4" onclick="this.blur()">4</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-red col-md-1" id="vred5" value="vred5" onclick="this.blur()">5</button>
                	</div>

                	<div class="row">
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-green col-md-1" id="c2" value="c2" onclick="this.blur()">C2</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s21" value="s21" onclick="this.blur()">S21</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s22" value="s22" onclick="this.blur()">S22</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s23" value="s23" onclick="this.blur()">S23</button>
                		<div class="col-md-1"></div>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-blue col-md-1" id="vblue1" value="vblue1" onclick="this.blur()">1</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-blue col-md-1" id="vblue2" value="vblue2" onclick="this.blur()">2</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-blue col-md-1" id="vblue3" value="vblue3" onclick="this.blur()">3</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-blue col-md-1" id="vblue4" value="vblue4" onclick="this.blur()">4</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-blue col-md-1" id="vblue5" value="vblue5" onclick="this.blur()">5</button>
                	</div>

                	<div class="row">
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="c3" value="c3" onclick="this.blur()">C3</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s31" value="s31" onclick="this.blur()">S31</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s32" value="s32" onclick="this.blur()">S32</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s33" value="s33" onclick="this.blur()">S33</button>
                		<div class="col-md-1"></div>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-green col-md-1" id="vgreen1" value="vgreen1" onclick="this.blur()">1</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-green col-md-1" id="vgreen2" value="vgreen2" onclick="this.blur()">2</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-green col-md-1" id="vgreen3" value="vgreen3" onclick="this.blur()">3</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-green col-md-1" id="vgreen4" value="vgreen4" onclick="this.blur()">4</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-green col-md-1" id="vgreen5" value="vgreen5" onclick="this.blur()">5</button>
                	</div>
                	<div class="row">
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-blue col-md-1" id="c4" value="c4" onclick="this.blur()">C4</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s41" value="s41" onclick="this.blur()">S41</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s42" value="s42" onclick="this.blur()">S42</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-s table-btn-purple col-md-1" id="s43" value="s43" onclick="this.blur()">S43</button>
                		<div class="col-md-1"></div>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-red col-md-1" id="l1" value="l1" onclick="this.blur()">1</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-red col-md-1" id="l2" value="l2" onclick="this.blur()">2</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-red col-md-1" id="l3" value="l3" onclick="this.blur()">3</button>
                		<button class="btn btn-default cbtablelistbtn table-btn-v table-btn-red col-md-1" id="l4" value="l4" onclick="this.blur()">4</button>
                	</div>

                	<div class="row">

            	    <button class="btn btn-primary col-sm-6" id="combinebtn" style="height: 60px;">合并已选桌单</button>
            	    <button class="btn btn-primary col-sm-6" id="clearcbtable" style="height: 60px;">清除已选桌号</button>
	            	</div>
	                
                </div>
            </div>
        </div>
    </div>
</template>
