<template name="table_order">
	{{> nav}}
	<div class="container">
	    <div class="row">
	    	<div class="col-md-12" align="center">
	    		<div class="row">
			        <h1 align="center">Table：{{tablelistid}}</h1>
			        <button class="btn btn-primary" style="float:right; width: 15%; border-radius: 5px;" id="addorder">Order</button>
			        <button class="btn btn-primary" style="float:right; width: 15%; border-radius: 5px;" id="memberopencomputer">Member</button>
			        <button class="btn btn-primary" style="float:right; width: 15%; border-radius: 5px;" id="starttime">Service</button>
			        
			    </div>
			    <!--
			    <div class="row">
			    	{{#if memberopened}}
			    	<h3 align="center">{{memberopened.memberfirstname}} - {{memberopened.edmemberphone}}</h3>
			    	{{/if}}
			    </div>
			-->
			    
			    {{#if cart}}
			        <h3>{{tillMomentHour cart.time}}Hours{{tillMomentMinute cart.time}}Minutes</h3>
			        <h3 align="center">Number：{{cart.seqnumber}}</h3>
			    
			        <table class="table table-hover">
			        	<thead>
			        		<tr>
			        			<th style="font-size: 16px; height: 62px; width:6%">Seq</th>
			        			<th style="font-size: 16px; height: 62px; width:24%">Name</th>
			        			<th style="font-size: 16px; height: 62px; width:16%">Special Request</th>
			        			<th style="font-size: 16px; height: 62px; width:8%">Price $</th>
			        			<th style="font-size: 16px; height: 62px; width:6%">GST</th>
			        			<th style="font-size: 16px; height: 62px; width:6%">PST</th>
			        			<th style="font-size: 16px; height: 62px; width:8%">Split</th>
			        			<th style="font-size: 16px; height: 62px; width:8%">Bill</th>
			        			<th style="font-size: 16px; height: 62px; width:6%">Print</th>
			        			<th style="font-size: 16px; height: 62px; width:6%">Discount</th>
			        			<th style="font-size: 16px; height: 62px; width:6%">Cancel</th>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		{{#each cart.orders}}
				        		<tr>
				        			<th style="font-size: 16px; height: 62px; width:6%">{{seqnumber}}</th>
				        			{{#if newitem}}
					        			<th style="font-size: 16px; height: 62px; width:24%"><strong>{{name}} </strong><i class="fa fa-circle" style="color:red; zoom:0.5;"></i></th>
				        			{{else}}
				        			    <th style="font-size: 16px; height: 62px; width:24%"><strong>{{name}}</strong></th>
				        			{{/if}}
				        			<th style="font-size: 16px; height: 62px; width:16%">{{specreq}}</th>
				        			<th style="font-size: 16px; height: 62px; width:8%">{{price}}</th>
				        			<th style="font-size: 16px; height: 62px; width:6%">{{gst}}</th>
				        			<th style="font-size: 16px; height: 62px; width:6%">{{pst}}</th>
				        			<th style="font-size: 16px; height: 62px; width:8%">
				        				<form>
				        					<select id="item-{{seqnumber}}-divider" data-seqnumber="{{seqnumber}}" class="split_select" selected="{{split_divider}}">
				        						<!--<option value="0"></option>-->
				        						<option value="1">1</option>
				        						<option value="2">1/2</option>
				        						<option value="3">1/3</option>
				        						<option value="4">1/4</option>
				        						<option value="5">1/5</option>
				        						<option value="6">1/6</option>
				        						<option value="7">1/7</option>
				        						<option value="8">1/8</option>
				        						<option value="9">1/9</option>
				        						<option value="10">1/10</option>
				        					</select>
				        				</form>
				        			</th>
				        			<th style="font-size: 16px; height: 62px; width:8%">
				        				{{#if checked}}
				        				<input type="checkbox" class="check-checkbox" data-seqnumber="{{seqnumber}}" style="zoom: 2.5;" checked>
				        				{{else}}
				        				<input type="checkbox" class="check-checkbox" data-seqnumber="{{seqnumber}}" style="zoom: 2.5;">
				        				{{/if}}
				        			</th>
				        			
				        			<th style="font-size: 16px; height: 62px; width:6%">
				        				{{#if printed}}
				        				<i class="fa fa-check"></i>
				        				{{else}}
				        				<i class="fa fa-times"></i>
				        				{{/if}}
				        			</th>
					        		
				        			<th style="font-size: 16px; height: 62px; width:6%">
				        				<button class="btn btn-danger editpricebtn" style="height:35px; width: 35px; padding: 0px; border-radius: 5px; margin-top:-5px;"><span><i class="fa fa-exclamation" style="padding: 0px; margin: 0px;"></i></span></button>
				        			</th>
				        			<th style="font-size: 16px; height: 62px; width:6%">
				        				<button class="btn btn-danger delitembtn" style="height:35px; width: 35px; padding: 0px; border-radius: 5px; margin-top:-5px;"><span><i class="fa fa-times" style="padding: 0px; margin: 0px;"></i></span></button>
				        			</th>
				        		</tr>
			        		{{/each}}
			        		<tr>
			        			<th style="font-size: 16px; height: 62px; width:6%"></th>
			        			<th style="font-size: 16px; height: 62px; width:16%"><strong>Total：$ {{cart.total}}</strong></th>
			        			<th style="font-size: 16px; height: 62px; width:8%">{{cart.subtotal}}</th>
			        			<th style="font-size: 16px; height: 62px; width:6%">{{cart.gsttotal}}</th>
			        			<th style="font-size: 16px; height: 62px; width:6%">{{cart.psttotal}}</th>
			        			<th style="font-size: 16px; height: 62px; width:8%">
			        				<form>
			        					<select id="cart-divider" class="cart_split">
			        						<!--<option value="0"></option>-->
			        						<option value="1">1</option>
			        						<option value="2">1/2</option>
			        						<option value="3">1/3</option>
			        						<option value="4">1/4</option>
			        						<option value="5">1/5</option>
			        						<option value="6">1/6</option>
			        						<option value="7">1/7</option>
			        						<option value="8">1/8</option>
			        						<option value="9">1/9</option>
			        						<option value="10">1/10</option>
			        					</select>
			        				</form>
			        			</th>
			        			<th style="font-size: 16px; height: 62px; width:8%">
			        				<input type="checkbox" id="cart+{{cart.seqnumber}}" value="false" class="cart-checkbox" style="zoom: 2.5;" checked>
			        			</th>
			        			<th style="font-size: 16px; height: 62px; width:6%">
			        				<!--{{#if printed}}
			        				<i class="fa fa-check"></i>
			        				{{else}}
			        				<i class="fa fa-times"></i>
			        				{{/if}}-->
			        			</th>
			        			<th style="font-size: 16px; height: 62px; width:6%">
			        				<button class="btn btn-danger carteditpricebtn" style="height:35px; width: 35px; padding: 0px; border-radius: 5px; margin-top:-5px;"><span><i class="fa fa-exclamation" style="padding: 0px; margin: 0px;"></i></span></button>
			        			</th>
			        			<th style="font-size: 16px; height: 62px; width:6%">
			        			</th>
			        		</tr>
			        	</tbody>
			        </table>

			        {{#if cart.receipt_printed}}
			        <h3 align=right style="color:red;">Printed</h3>
			        {{/if}}

			        {{#if cart.paid}}
			        <h3 align=right>Paied</h3>
			        {{/if}}
			        <hr>

			        <div>
				        <button class="btn btn-default col-sm-2" style="height:80px;" id="kitchenprintbtn">Kitchen Print</button>
				        <button class="btn btn-default col-sm-2" style="height:80px;" id="changetablebtn">Table Switch</button>
				        <button class="btn btn-default col-sm-2" style="height:80px;" id='checkbtn'>Print</button>
				        <button class="btn btn-default col-sm-2" style="height:80px;" id="paymentbtn">Pay</button>
				        <button class="btn btn-default col-sm-2" style="height:80px;" id="addnotesbtn">Note</button>
				        <button class="btn btn-default col-sm-2" style="height:80px;" id="finishbtn">Complete</button>
				    </div>
			    {{/if}}
		    </div>
	    </div>

	    <hr>

	</div>
{{> addnotes_modal}}
{{> changetable_modal}}
{{> checktable_modal}}
{{> payment_modal}}
{{> editprice_modal}}
{{> carteditprice_modal}}
{{> finish_modal}}
{{> delitem_modal}}
{{> cash_payalert_modal}}
{{> card_payalert_modal}}
{{> memberopencomputer_modal}}
{{> starttime_modal}}

    <canvas id="kitchencanvas" style="display:none;">
    	<h1>Luckyplus!</h1>
    	<h3>hello</h3>
    </canvas>
</template>

<template name="addnotes_modal">
    <div class="modal fade" id="addnotes_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    {{#if modalcart}}
	                    <form id="addnotes" action="#">
	                        <div class="input-group">
	                            <input class="form-control" name="ordernotes" id="ordernotes" placeholder="Add Note" required>
	                            <span class="input-group-btn"><button class="btn btn-primary" type="submit">Submit</button></span>
	                        </div>
	                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="changetable_modal">
    <div class="modal fade" id="changetable_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    {{#if modalcart}}
	                    <form id="changetable" action="#">
	                        <div class="input-group">
	                            <input class="form-control" name="newtable" id="newtable" placeholder="Example：a1" required>
	                            <span class="input-group-btn"><button class="btn btn-primary" type="submit">Submit</button></span>
	                        </div>
	                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="checktable_modal">
    <div class="modal fade" id="checktable_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    {{#if checkitem}}
                        <h3>Seq：{{checkitem.seqnumber}}</h3>
                        <h4>OrderNumber：{{checkitem.cartseq}}</h4>
                        
                        	{{#each checkitem.orders}}
                        	    <p>  {{seqnumber}} - {{name}}: x 1 / {{split_divider}}</p>
                        	    <p align="right">  $ {{subtotal_portion}}</p>
                        	    <br>
                        	{{/each}}
                        
                        <h4>合计：$ {{checkitem.subtotal}}</h4>
                        <h4>GST：$ {{checkitem.gst}}</h4>
                        <h4>PST：$ {{checkitem.pst}}</h4>
                        <h4>总额：$ {{checkitem.amount}}</h4>
                    {{/if}}
                    <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" id="checkconfirmbtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="payment_modal">
    <div class="modal fade" id="payment_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                	<div class="row">
                		<div class="col-sm-6">
                			{{#if current_cart}}

                			    <div class="row">
                			    	<div class="col-sm-3">
                			    	{{#each current_cart.receipts}}
                			    	    <button class="btn btn-default btn-block select_receipt_btn" value="{{receipts_number}}">{{receipts_number}}</button><br>
                			    	{{/each}}
                			        </div>

			                        <button class="btn btn-default col-sm-5 col-sm-offset-4" id="paymentconfirmbtn">打印</button>
		                        </div>

		                    {{/if}}

		                    {{#if current_receipt}}
		                        <h3>小票号：{{current_receipt.seqnumber}} {{#if current_receipt.paid}} (已付款){{/if}}</h3>
		                        <h4>单号：{{current_receipt.cartseq}}</h4>
		                        {{#if current_receipt.paid}}已付款{{/if}}
		                        
		                        	{{#each current_receipt.orders}}
		                        	    {{#if equal split_divider 1}}
			                        	    <p>  {{seqnumber}} - {{name}}</p>
			                        	    <p align="right">  $ {{subtotal_portion}}</p>
			                        	    <br>
		                        	    {{else}}
		                        	        <p>  {{seqnumber}} - {{name}} ( x 1 / {{split_divider}} )</p>
			                        	    <p align="right">  $ {{subtotal_portion}}</p>
			                        	    <br>
		                        	    {{/if}}
		                        	{{/each}}
		                        
		                        <h4>合计：$ {{current_receipt.subtotal}}</h4>
		                        <h4>GST：$ {{current_receipt.gst}}</h4>
		                        <h4>PST：$ {{current_receipt.pst}}</h4>
		                        <h4>总额：$ {{current_receipt.amount}}</h4>
		                    {{/if}}
                		</div>

                		<div class="col-sm-6">
                			<div class="row">
                				<input type="text" style="float:right;width: 80%; height: 60px; margin:5px; font-size:30px;" name="paid_amount" id="paid_amount" value="">
                				<h2 style="float:right;">$:</h2>
                			</div>
                			<div class="row">
                				<button class="btn btn-default col-sm-4 numpad" value="1">1</button>
                				<button class="btn btn-default col-sm-4 numpad" value="2">2</button>
                				<button class="btn btn-default col-sm-4 numpad" value="3">3</button>
                			</div>
                			<div class="row">
                				<button class="btn btn-default col-sm-4 numpad" value="4">4</button>
                				<button class="btn btn-default col-sm-4 numpad" value="5">5</button>
                				<button class="btn btn-default col-sm-4 numpad" value="6">6</button>
                			</div>
                			<div class="row">
                				<button class="btn btn-default col-sm-4 numpad" value="7">7</button>
                				<button class="btn btn-default col-sm-4 numpad" value="8">8</button>
                				<button class="btn btn-default col-sm-4 numpad" value="9">9</button>
                			</div>
                			<div class="row">
                				<button class="btn btn-default col-sm-4 numpad" value=".">.</button>
                				<button class="btn btn-default col-sm-4 numpad" value="0">0</button>
                				<button class="btn btn-default col-sm-4 numpad-del"><i class="fa fa-arrow-circle-left"></i></button>
                			</div>
                			<div class="row" style="margin-top:20px;">
                				<button class="btn btn-primary col-sm-4 paytypebtn" id="cash_confirm_btn"><i class="fa fa-usd"></i> 现金</button>
                				
                				<button class="btn btn-primary col-sm-4 paytypebtn" id="mempay_confirm_btn"><i class="fa fa-credit-card"></i> 会员卡</button>

                				<button class="btn btn-primary col-sm-4 paytypebtn" id="card_confirm_btn"><i class="fa fa-credit-card"></i> 刷卡</button>

                			</div>

                			<!--
                			<div>
	                        	<form>
	                        		<h4>收取：</h4>
	                        		<input type="text" id="cash_amount" name="cash_amount_collected" style="zoom:1.5; margin-bottom:20px">
	                        		<br>
	                        		<input type="submit" id="cash_confirm_btn" style="zoom:1.5;" value="确认">
	                        	</form>
	                        </div>
	                        <br>
	                        <div>
	                        	<h3>信用卡收取</h3>
	                        	<form>
	                        		<h4>小票最后六位：</h4>
	                        		<input type="text" id="card_receipt" name="receipt_number" style="zoom:1.5; margin-bottom:20px">
	                        		<h4>收取小费：</h4>
	                        		<input type="text" id="card_tips" name="card_tips_collected" style="zoom:1.5; margin-bottom:20px">
	                        		<br>
	                        		<input type="submit" id="card_confirm_btn" style="zoom:1.5;" value="确认">
	                        	</form>
	                        </div>
		                    -->
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="editprice_modal">
    <div class="modal fade" id="editprice_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	<form id="editpriceform" action="#">
                        <div class="input-group">
                            <input class="form-control" name="newprice" id="newprice" placeholder="例如：15.95" required>
                            <span class="input-group-btn"><button class="btn btn-primary" type="submit">确定</button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="carteditprice_modal">
    <div class="modal fade" id="carteditprice_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	<form id="carteditpriceform" action="#">
                        <div class="input-group">
                            <input class="form-control" name="cartnewprice" id="cartnewprice" placeholder="例如：0.8" required>
                            <span class="input-group-btn"><button class="btn btn-primary" type="submit">确定</button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="finish_modal">
    <div class="modal fade" id="finish_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	<h1 align=center>请刷员工卡</h1>
                	<form id="key_form" action="#">
                        <div class="input-group">
                            <input autofocus class="form-control" name="key_card" id="key_card" type="password" required>
                            <span class="input-group-btn"><button class="btn btn-primary" type="submit">确定！</button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="delitem_modal">
    <div class="modal fade" id="delitem_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	<h1 align=center>确定？</h1>
                	<div class="row">
                	    <button class="btn btn-primary col-sm-6" id="delitemyes">是</button>
                	    <button class="btn btn-primary col-sm-6" id="delitemno">否</button>
	                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="cash_payalert_modal">
    <div class="modal fade" id="cash_payalert_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	<h1 align=center>请找钱：</h1>
                	{{#if changes}}
                	<h2 align=center id="coin_change">$: {{changes}}</h2>
                	{{/if}}
                	<div class="row">
                		<button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" id="cash_payalert_confirm_btn" data-dismiss="modal">确认</button>
	                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="card_payalert_modal">
    <div class="modal fade" id="card_payalert_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	<h1 align=center>请拿取小费：</h1>
                	{{#if tips}}
                	<h2 align=cetner id="coin_change">$: {{tips}}</h2>
                	{{/if}}
                	<div class="row">
                		<button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" id="card_payalert_confirm_btn" data-dismiss="modal">确认</button>
	                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="memberopencomputer_modal">
    <div class="modal fade" id="memberopencomputer_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                    	<form id="memberopen_confirm_form" style="margin-bottom:10px;" action="#">
                    		<h3 style="margin-bottom: 20px;">请输入会员卡</h3>
<!--
                    		<input class="form-control col-sm-12" style="margin-bottom: 20px;" type="text" id="memberopenid" placeholder="会员卡号" auto-focus required>
                    		<button class="btn btn-block btn-primary col-sm-12" type="submit" data-dismiss="modal">确认</button>
-->
                    		<input class="form-control col-sm-12" style="margin-bottom: 20px;" type="text" id="memberid" placeholder="会员卡号" auto-focus required>
                    		<button class="btn btn-block btn-primary col-sm-12" type="submit" style="margin-bottom:20px;">搜索</button>
                    	</form>
						{{#if onemember}}
						<h3 align="center" type="submit" style="margin-top:20px; margin-bottom:25px;">选择会员消费</h3>

							{{#each onemember.membertype}}
                                <button class="btn btn-block btn-primary col-sm-12 memberopenbtn" style="margin-bottom:5px;" id="typeselbtn"> {{typename}} {{typepeak}} {{typesession}}</button>
							{{/each}}
						{{/if}}
					</div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="starttime_modal">
    <div class="modal fade" id="starttime_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	<h1 align=center>请选择以下开机</h1>
                	<div class="row">
                	    <button class="btn btn-primary col-sm-12 starttabletime" style="height: 60px;" value="Lobby Hourly">Lobby Hourly</button>
                	    <button class="btn btn-primary col-sm-12 starttabletime" style="height: 60px;" value="VIP Hourly">VIP Hourly</button>
                	    <button class="btn btn-primary col-sm-12 starttabletime" style="height: 60px;" value="Lobby Morning 会员">Lobby Morning 会员</button>
                	    <button class="btn btn-primary col-sm-12 starttabletime" style="height: 60px;" value="Lobby Anytime 会员">Lobby Anytime 会员</button>
                	    <button class="btn btn-primary col-sm-12 starttabletime" style="height: 60px;" value="VIP Morning 会员">VIP Morning 会员</button>
                	    <button class="btn btn-primary col-sm-12 starttabletime" style="height: 60px;" value="VIP Anytime 会员">VIP Anytime 会员</button>
	                </div>
                </div>
            </div>
        </div>
    </div>
</template>