<template name="newmember">
    {{>nav}}

	<div class="container">
		<div class="alert alert-danger" style="background-color: black !important; border-color: #59291B !important; color: #e3d4a1;">
			<h1 align="center">New Member</h1>
		</div>
		<div class="row">

            <div class="col-xs-12 col-sm-12">
                <ul class="list-group">

                    {{#each member}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6" style="margin-bottom: 0;">
                                    <h4>{{memberfirstname}} {{memberlastname}}: </h4>
                                    <h4><strong>{{memberphone}}</strong></h4>
                                </div>
                                <div class="col-xs-2 col-sm-2" style="margin-bottom: 0;">
                                    <h4>{{tillMoment time}}</h4>
                                </div>
                                <div type="button" class="col-xs-2 col-sm-2 btn btn-default newmember" style="height: 60px;">
                                    <h4><strong>Comfirm</strong></h4>
                                </div>
                                <div type="button" class="col-xs-2 col-sm-2 btn btn-default newmemberdel" style="height: 60px;">
                                    <h4><strong>Delete</strong></h4>
                                </div>
                            </div>
                        </li>
                    {{/each}}

                </ul>
            </div>
			
		</div>
	</div>
    {{>signup_modal}}
    {{>signupdel_modal}}
</template>

<template name="signup_modal">
    <div class="modal fade" id="signup_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                    	<form id="signup_confirm_form" action="#">
                    		<h3 style="margin-bottom: 20px;">Fill in the following information</h3>
                            <select id="membertype" style="margin-bottom: 20px; zoom: 1.5;">
                                <option value="">Member type</option>
                                <option value='{"type":"Money","peak":"Anytime","sessions":0.00}'>Load</option>
                                <option value='{"type":"Lobby","peak":"Morning","sessions":2}'>Non-Peak 2</option>
                                <option value='{"type":"Lobby","peak":"Morning","sessions":5}'>Non-Peak 5</option>
                                <option value='{"type":"Lobby","peak":"Morning","sessions":10}'>Non-Peak 10</option>
                                <option value='{"type":"Lobby","peak":"Anytime","sessions":2}'>Peak 2</option>
                                <option value='{"type":"Lobby","peak":"Anytime","sessions":5}'>Peak 5</option>
                                <option value='{"type":"Lobby","peak":"Anytime","sessions":10}'>Peak 10</option>
                                <option value='{"type":"VIP","peak":"Morning","sessions":2}'>VIP Non-Peak 2</option>
                                <option value='{"type":"VIP","peak":"Morning","sessions":5}'>VIP Non-Peak 5</option>
                                <option value='{"type":"VIP","peak":"Morning","sessions":10}'>VIP Non-Peak 10</option>
                                <option value='{"type":"VIP","peak":"Anytime","sessions":2}'>VIP Peak 2</option>
                                <option value='{"type":"VIP","peak":"Anytime","sessions":5}'>VIP Peak 5</option>
                                <option value='{"type":"VIP","peak":"Anytime","sessions":10}'>VIP Peak 10</option>
                                <option value='{"type":"SVIP Lobby 2hr","peak":"Anytime","sessions":10}'>SVIP Lobby 10</option>
                                <option value='{"type":"SVIP Lobby 2hr","peak":"Anytime","sessions":35}'>SVIP Lobby 35</option>
                                <option value='{"type":"SVIP Lobby 2hr","peak":"Anytime","sessions":75}'>SVIP Lobby 75</option>
                                <option value='{"type":"SVIP VIP 2hr","peak":"Anytime","sessions":10}'>SVIP Lobby 10</option>
                                <option value='{"type":"SVIP VIP 2hr","peak":"Anytime","sessions":35}'>SVIP Lobby 35</option>
                                <option value='{"type":"SVIP VIP 2hr","peak":"Anytime","sessions":75}'>SVIP Lobby 75</option>
                                <option value='{"type":"Lobby","peak":"Anytime","sessions":40}'>SVIP Lobby 40</option>
                                <option value='{"type":"Lobby","peak":"Anytime","sessions":90}'>SVIP Lobby 90</option>
                                <option value='{"type":"VIP","peak":"Anytime","sessions":40}'>SVIP VIP 40</option>
                                <option value='{"type":"VIP","peak":"Anytime","sessions":90}'>SVIP VIP 90</option>
                            </select>
                            
                    		<input class="form-control col-sm-12" style="margin-bottom: 20px;" type="text" id="memberid" placeholder="会员卡号" auto-focus required>
                            <input class="form-control col-sm-12" style="margin-bottom: 20px;" type="password" id="signup_password" placeholder="管理员扫码" required>
                            <input class="form-control col-sm-12" style="margin-bottom: 20px;" type="password" id="receiptnumber" placeholder="小票号" required>
                            <input class="form-control col-sm-12" style="margin-bottom: 20px;" type="text" id="memberpassword" placeholder="会员密码" required>
                    		<button class="btn btn-block btn-primary col-sm-12" type="submit">Comfirm</button>
                    	</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="signupdel_modal">
    <div class="modal fade" id="signupdel_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <input class="col-sm-12 col-md-12" style="margin-bottom:20px;" type="password" placeholder="Manger Password" id="signupdel_key">
                    </div>
                    <div class="row">
                        <button class="btn btn-default col-sm-6 col-md-6" id="signupdel_confirm" data-dismiss="modal">Delete</button>
                        <button class="btn btn-default col-sm-6 col-md-6" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>