<template name="membership">
	{{> nav}}

	<div class="container">
		<div class="alert alert-danger" style="background-color: black !important; border-color: #59291B !important; color: #e3d4a1;">
			<h1 align="center">Membership System</h1>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-md-offset-3">
				<form id="membersearch" action="#" style="margin-bottom: 20px;">
                    <div class="input-group">
                        <input class="form-control" type="text" name="memberupdateid" id="memberupdateid" placeholder="Member ID" required>
                        <span class="input-group-btn"><button class="btn btn-primary" type="submit">Search Member</button></span>
                    </div>
                </form>
            </div>
            
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <form id="memberphonesearch" action="#" style="margin-bottom: 20px;">
                    <div class="input-group">
                        <input class="form-control" type="text" name="memberupdatephone" id="memberupdatephone" placeholder="Member Phone Number" required>
                        <span class="input-group-btn"><button class="btn btn-primary" type="submit">Phone Search</button></span>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="row">
            <form id="memberupdateform" class="col-md-6 col-md-offset-3" action="#">
                <p>Session Reload</p>
            	<input class="form-control" type="text" id="updatekey" placeholder="Advisor Key Check" style="margin-bottom:5px;" required>
            	<input class="form-control" type="text" id="updatereceipt" placeholder="Receipt Number" style="margin-bottom:5px;" required>
            	<select id="updatemembertype" class="col-md-8" style="margin-bottom:5px; zoom:1.7;">
                    <option value="">Member Type</option>
                    <option value='{"type":"Lobby","peak":"Morning","sessions":2}'>Non-Peak 2</option>
                    <option value='{"type":"Lobby","peak":"Morning","sessions":5}'>Non-Peak 5</option>
                    <option value='{"type":"Lobby","peak":"Morning","sessions":10}'>Non-Peak 10</option>
                    <option value='{"type":"Lobby","peak":"Anytime","sessions":2}'>Peak 2</option>
                    <option value='{"type":"Lobby","peak":"Anytime","sessions":5}'>Peak 5</option>
                    <option value='{"type":"Lobby","peak":"Anytime","sessions":10}'>Peak 10</option>
                    <option value='{"type":"VIP","peak":"Morning","sessions":2}'>VIP Non-Peak 2</option>
                    <option value='{"type":"VIP","peak":"Morning","sessions":5}'>VIP Non-Peak 5</option>
                    <option value='{"type":"VIP","peak":"Morning","sessions":10}'>VIP Non-Peak 10</option>
                    <option value='{"type":"VIP","peak":"Anytime","sessions":2}'>VIP Peak 2</option>
                    <option value='{"type":"VIP","peak":"Anytime","sessions":5}'>VIP Peak 5</option>
                    <option value='{"type":"VIP","peak":"Anytime","sessions":10}'>VIP Peak 10</option>
                    <option value='{"type":"SVIP Lobby 2hr","peak":"Anytime","sessions":10}'>SVIP(2hr) Lobby 10</option>
                    <option value='{"type":"SVIP Lobby 2hr","peak":"Anytime","sessions":35}'>SVIP(2hr) Lobby 35</option>
                    <option value='{"type":"SVIP Lobby 2hr","peak":"Anytime","sessions":75}'>SVIP(2hr) Lobby 75</option>
                    <option value='{"type":"SVIP VIP 2hr","peak":"Anytime","sessions":10}'>SVIP(2hr) VIP Lobby 10</option>
                    <option value='{"type":"SVIP VIP 2hr","peak":"Anytime","sessions":35}'>SVIP(2hr) VIP Lobby 35</option>
                    <option value='{"type":"SVIP VIP 2hr","peak":"Anytime","sessions":75}'>SVIP(2hr) VIP Lobby 75</option>
                </select>
                <button class="btn btn-primary col-md-4" type="submit">更新</button>
            </form>
        </div>
        
        <div class="row">
            <form id="memberupdate2form" class="col-md-6 col-md-offset-3" action="#">
                <p>Cash Reload</p>
                <input class="form-control" type="text" id="update2key" placeholder="Advisor Key Check" style="margin-bottom:5px;" required>
                <input class="form-control" type="text" id="update2receipt" placeholder="Receipt Number" style="margin-bottom:5px;" required>
                <input id="updatemembermoney" class="col-md-8" style="margin-bottom:5px; zoom:1.7;">
                <button class="btn btn-primary col-md-4" type="submit">Update</button>
            </form>
        </div>

        {{#if onemember}}
        <table class="table" style="background-color:white;">
            <thead>
                <tr>
                    <th>Membership Card</th>
                    <th>Fistname</th>
                    <th>Lastname</th>
                    <th>Phonenumber</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{onemember.memberid}}</td>
                    <td>{{onemember.memberfirstname}}</td>
                    <td>{{onemember.memberlastname}}</td>
                    <td>{{onemember.memberphone}}</td>
                    <td>{{onemember.memberemail}}</td>
                    <td>{{onemember.memberpassword}}</td>
                </tr>
            </tbody>
        </table>

        <div></div>
        <div></div>

        <table class="table" style="background-color:white;">
            <thead>
                <tr>
                    <th>座位区</th>
                    <th>时间段</th>
                    <th>剩余次数/金额</th>
                    <th>充值时间</th>
                </tr>
            </thead>
            <tbody>
                {{#each onemember.membertype}}
                <tr>
                    <td>{{typename}}</td>
                    <td>{{typepeak}}</td>
                    <td>{{typesession}}</td>
                    <td>{{tillMoment purchasetime}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <div></div>
        <div></div>

        <h3>Purchase History</h3>

        {{#if onemember.buyhistory}}
        <table class="table" style="background-color:white;">
            <thead>
                <tr>
                    <th>座位区</th>
                    <th>时间段</th>
                    <th>购买次数/金额</th>
                    <th>购买时间</th>
                    <th>小票号</th>
                    <th>操作员</th>
                </tr>
            </thead>
            <tbody>
                {{#each onemember.buyhistory}}
                <tr>
                    <td>{{typename}}</td>
                    <td>{{typepeak}}</td>
                    <td>{{typesession}}</td>
                    <td>{{formatTime buydate}}</td>
                    <td>{{receipt}}</td>
                    <td>{{operator}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}

        <div></div>
        <div></div>

        <h3>Play History</h3>

        {{#if onemember.playhistory}}
        <table class="table" style="background-color:white;">
            <thead>
                <tr>
                    <th>座位区</th>
                    <th>时间段</th>
                    <th>消费次数/金额</th>
                    <th>消费时间</th>
                </tr>
            </thead>
            <tbody>
                {{#each onemember.playhistory}}
                <tr>
                    <td>{{typename}}</td>
                    <td>{{typepeak}}</td>
                    <td>{{playsession}}</td>
                    <td>{{formatTime playdate}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}


        {{/if}}

	</div>

    {{> phoneresult_modal}}
</template>

<template name="phoneresult_modal">
    <div class="modal fade" id="phoneresult_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">


                <div class="modal-body">
                    {{#if phoneresult}}
                        <h2 align="center">Phone search Result</h2>

                        {{#each phoneresult}}
                        
                        <h4>{{memberid}}</h4>

                        {{/each}}
                        
                    {{/if}}
                </div>


            </div>
        </div>
    </div>
</template>