<template name="cart">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    {{> nav}}
    
    <div class="container">
        <table id="cart" class="table table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th style="width:30%;">菜目</th>
                <th style="width:20%;"></th>
                <th style="width:10%;" class="text-center">单价</th>
                <th style="width:10%;" class="text-center">GST</th>
                <th style="width:10%;" class="text-center">PST</th>
                <th style="width:10%;" class="text-center">备注</th>
                <th style="width:10%;" class="text-center">粉面</th>
            </tr>
            </thead>
            <tbody>

            {{#each orders}}
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs"><img src="/img/{{pic_id}}" alt="..." class="img-responsive img-thumbnail"/></div>
                            {{#if newitem}}
                                <div class="col-sm-10" style="padding: 15px;">
                                    <h4 class="nomargin" style="font-size: 1.5em;">{{name}}<i class="fa fa-circle" style="color:red; zoom:0.5;"></i></h4>
                                </div>
                            {{else}}
                                <div class="col-sm-10" style="padding: 15px;">
                                    <h4 class="nomargin" style="font-size: 1.5em;">{{name}}</h4>
                                </div>
                            {{/if}}
                        </div>
                    </td>
                    <td data-th="SpecReq"><p>{{specreq}}</p></td>
                    <td data-th="Price" class="text-center"><p>{{price}}</p></td>
                    <td data-th="GST" class="text-center"><p>{{gst}}</p></td>
                    <td data-th="PST" class="text-center"><p>{{pst}}</p></td>
                    <td class="actions" data-th="">
                        <button class="btn btn-info editspecreq" style="display:block; margin:0 auto;"><i class="fa fa-trash-o"></i></button>
                    </td>
                    <td class="actions" data-th="">
                        <button class="btn btn-info fenmianbtn" style="display:block; margin:0 auto;"><i class="fa fa-heart"></i></button>
                    </td>
                </tr>

            {{/each}}

            </tbody>
            <tfoot>
                <tr class="visible-xs">
                    <td class="text-center" style="font-size: 2em;"><strong>总价 $ {{carttotal}}</strong></td>
                </tr>
                <tr>
                    
                    <td><a href="#" class="btn btn-warning" id="goback"><i class="fa fa-chevron-left"></i> 回到菜单</a></td>
                    
                    <td><a href="#" class="btn btn-success btn-block" id="cart_confirm_btn">送单 <i class="fa fa-check"></i></a></td>
                    <td></td>
                    <!--
                    <td><a href="#" class="btn btn-primary btn-block" id="table_order_btn">回台</a></td> -->
                    <td class="hidden-xs text-center" style="font-size: 2em;"><strong>价格 $ {{cartsubtotal}}</strong></td>
                    <td class="hidden-xs text-center" style="font-size: 2em;"><strong>总GST $ {{cartgsttotal}}</strong></td>
                    <td class="hidden-xs text-center" style="font-size: 2em;"><strong>总PST $ {{cartpsttotal}}</strong></td>
                    <td class="hidden-xs text-center" style="font-size: 2em;"><strong>总价 $ {{carttotal}}</strong></td>
                    <td class="hidden-xs text-center" style="font-size: 2em;"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    {{>mod2_modal}}
    {{>mod3_modal}}
    {{>mod4_modal}}
    {{>mod5_modal}}
    {{>mod6_modal}}
    

    {{> carttotable_modal}}

</template>


<template name="mod2_modal">
    <div class="modal fade" id="mod2_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <button class="btn btn-primary col-sm-3" id="mod2cancel">Cancel</button>
                        <form class="col-sm-9" id="mod2form" action="#">
                            <div class="input-group"> 
                                <span><input class="form-control" name="mod2item" id="mod2item" placeholder="Select the following options" value = "{{specreqitem}}" disabled></span>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">Submit</button></span>
                            </div>
                        </form>
                    </div>
                    <!--<ul class="nav nav-tabs" id="tabContent">
                        <li class="active mod2tab col-sm-2"><a href="#mod2tab1" data-toggle="tab"  style="text-align:center; font-size:2em;">加料:</a></li>
                        <li class="mod2tab col-sm-2"><a href="#mod2tab2" data-toggle="tab" style="text-align:center; font-size:2em;">糖</a></li>
                        <li class="mod2tab col-sm-2"><a href="#mod2tab3" data-toggle="tab" style="text-align:center; font-size:2em;">冰/热</a></li>
                    </ul> !-->



                    <div class="row" style="margin-bottom: 25px;">
                        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="No Sugar" onclick="this.blur()">No Sugar
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="1/3 Sugar" onclick="this.blur()">1/3 Sugar
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="Half Sugar" onclick="this.blur()">Half Sugar
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="Less Sugar" onclick="this.blur()">Less Sugar
                            </label>
                            <label class="btn btn-default mod2radiobtn" id = "fullSugar">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="Normal Sugar" onclick="this.blur()" checked>Normal
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="Extra Sugar" onclick="this.blur()">Extra Sugar
                            </label>
                        </div>
                    </div>


                    <div class="row" style="margin-bottom: 25px;">
                        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
                        
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="No Ice" onclick="this.blur()">No Ice
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="Less Ice" onclick="this.blur()">Less Ice
                            </label>
                            <label class="btn btn-default mod2radiobtn" id = "fullIce">
                                 <input type="radio" class="mod2radioIce" name="ice" value="Normal Ice" onclick="this.blur()" checked>Regular Ice
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="Extra Ice" onclick="this.blur()">Extra Ice
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="mod3_modal">
    <div class="modal fade" id="mod3_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <button class="btn btn-primary col-sm-3" id="mod3cancel">Cancel</button>
                        <form class="col-sm-9" id="mod3form" action="#">
                            <div class="input-group"> 
                                <span><input class="form-control" name="mod3item" id="mod3item" placeholder="Select the following options" value = "{{specreqitem}}" disabled></span>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">Submit</button></span>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="margin-bottom: 25px;">
                        <button class="btn btn-default col-sm-2 mod3select" name="AddOn(0.50)" value="0.50" onclick="this.blur()">AddOn(0.50)</button>
                        <button class="btn btn-default col-sm-2 mod3select" name="AddOn(1.00)" value="1.00" onclick="this.blur()">AddOn(1.00)</button>
                        <button class="btn btn-default col-sm-2 mod3select" name="AddOn(1.50)" value="1.50" onclick="this.blur()">AddOn(1.50)</button>
                        <button class="btn btn-default col-sm-2 mod3select" name="AddOn(2.00)" value="2.00" onclick="this.blur()">AddOn(2.00)</button>

                    </div>


          

                </div>
            </div>
        </div>
    </div>
</template>


<template name="mod4_modal">
    <div class="modal fade" id="mod4_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <button class="btn btn-primary col-sm-3" id="mod4cancel">Cancel</button>
                        <form class="col-sm-9" id="mod4form" action="#">
                            <div class="input-group"> 
                                <span><input class="form-control" name="mod4item" id="mod4item" placeholder="Select the following options" value = "{{specreqitem}}" disabled></span>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">Submit</button></span>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="margin-bottom: 25px;">
                        <button class="btn btn-default col-sm-2 mod4select" name="Taro"  onclick="this.blur()">Taro</button>
                        <button class="btn btn-default col-sm-2 mod4select" name="Lemon"  onclick="this.blur()">Lemon</button>
                        <button class="btn btn-default col-sm-2 mod4select" name="Pineapple"  onclick="this.blur()">Pineapple</button>
                        <button class="btn btn-default col-sm-2 mod4select" name="Grape"  onclick="this.blur()">Grape</button>

                    </div>



          

                </div>
            </div>
        </div>
    </div>
</template>


<template name="mod5_modal">
    <div class="modal fade" id="mod5_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <button class="btn btn-primary col-sm-3" id="mod5cancel">Cancel</button>
                        <form class="col-sm-9" id="mod3form" action="#">
                            <div class="input-group"> 
                                <span><input class="form-control" name="mod5item" id="mod5item" placeholder="Select the following options" value = "{{specreqitem}}" disabled></span>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">Submit</button></span>
                            </div>
                        </form>
                    </div>


                    <div class="row" style="margin-bottom: 25px;">
                        <button class="btn btn-default col-sm-2 mod2select" name="Addon1(1.00)" value="1.00" onclick="this.blur()">Addon1(1.00)</button>
                        <button class="btn btn-default col-sm-2 mod2select" name="Addon2(2.00)" value="2.00" onclick="this.blur()">Addon2(2.00)</button>
                        <button class="btn btn-default col-sm-2 mod2select" name="Addon3(3.00)" value="3.00" onclick="this.blur()">Addon3(3.00)</button>
           

                    </div>

                    <ul class="nav nav-tabs" id="tabContent">
                        <li class="active specreqtab col-sm-3"><a href="#seasoning" data-toggle="tab"  style="text-align:center; font-size:2em;">Preference</a></li>
                        <li class="specreqtab col-sm-3"><a href="#veggie" data-toggle="tab" style="text-align:center; font-size:2em;">Flavor</a></li>
                        <li class="specreqtab col-sm-3"><a href="#meat" data-toggle="tab" style="text-align:center; font-size:2em;">Table</a></li>

                    </ul>

                    <div class="tab-content" style="height:500px;">
                        <div class="tab-pane active" id="seasoning">
                            <div class="row" style="margin: 15px 0 10px 0;">
                                <button class="btn btn-default col-sm-2 specreq1" value="No_Sugar " onclick="this.blur()">NoSugar</button>
                                <button class="btn btn-default col-sm-2 specreq1" value="Less_Sugar " onclick="this.blur()">LessSugar</button>
                                <button class="btn btn-default col-sm-2 specreq1" value="More_Sugar " onclick="this.blur()">MoreSugar</button>
                                <button class="btn btn-default col-sm-2 specreq1" value="Half_Sugar " onclick="this.blur()">HalfSugar</button>
                            </div>                            
                        </div>

                        <div class="tab-pane" id="veggie">
                            

                            <hr>
                            <button class="btn btn-default col-sm-2 specreq2" value="Green Tea" onclick="this.blur()">Green Tea</button>
                            <button class="btn btn-default col-sm-2 specreq2" value="Red Tea" onclick="this.blur()">Red Tea</button>
                            <button class="btn btn-default col-sm-2 specreq2" value="Honey" onclick="this.blur()">Honey</button>
                            <button class="btn btn-default col-sm-2 specreq2" value="Taro" onclick="this.blur()">Taro</button>
                     

                        </div>

                        <div class="tab-pane" id="meat">
                            <div class="row" style="margin: 15px 0 10px 0;">
                                <button class="btn btn-default col-sm-2 specreq3" value="Red" onclick="this.blur()">Red</button>
                                <button class="btn btn-default col-sm-2 specreq3" value="Blue" onclick="this.blur()">Blue</button>
                                <button class="btn btn-default col-sm-2 specreq3" value="Yellow" onclick="this.blur()">Yellow</button>
                                <button class="btn btn-default col-sm-2 specreq3" value="Green" onclick="this.blur()">Green</button>
                                <button class="btn btn-default col-sm-2 specreq3" value="Purple" onclick="this.blur()">Purple</button>
                                <button class="btn btn-default col-sm-2 specreq3" value="VRed" onclick="this.blur()">VRed</button>           
                                <button class="btn btn-default col-sm-2 specreq3" value="S" onclick="this.blur()">S</button>
                            </div>
                            <hr>
                            <button class="btn btn-default col-sm-2 specreq4" value="_1" onclick="this.blur()">1</button>
                            <button class="btn btn-default col-sm-2 specreq4" value="_2" onclick="this.blur()">2</button>
                            <button class="btn btn-default col-sm-2 specreq4" value="_3" onclick="this.blur()">2</button>
                            <button class="btn btn-default col-sm-2 specreq4" value="_4" onclick="this.blur()">2</button>
                            <button class="btn btn-default col-sm-2 specreq4" value="_5" onclick="this.blur()">2</button>
                            <button class="btn btn-default col-sm-2 specreq4" value="_11" onclick="this.blur()">11</button>
                            <button class="btn btn-default col-sm-2 specreq4" value="_12" onclick="this.blur()">12</button>
                            <button class="btn btn-default col-sm-2 specreq4" value="_13" onclick="this.blur()">13</button>
                           
                        </div>



                        
                    <button class="btn btn-primary" id="mod2cancel" style="position: absolute; bottom:10px; height:60px; width: 140px;">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="mod6_modal">
    <div class="modal fade" id="mod6_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <button class="btn btn-primary col-sm-3" id="mod6cancel">Cancel</button>
                        <form class="col-sm-9" id="mod6form" action="#">
                            <div class="input-group"> 
                                <span><input class="form-control" name="mod6item" id="mod6item" placeholder="Select the following options" value = "{{specreqitem}}" disabled></span>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">Submit</button></span>
                            </div>
                        </form>
                    </div>
                    <!--<ul class="nav nav-tabs" id="tabContent">
                        <li class="active mod2tab col-sm-2"><a href="#mod2tab1" data-toggle="tab"  style="text-align:center; font-size:2em;">加料:</a></li>
                        <li class="mod2tab col-sm-2"><a href="#mod2tab2" data-toggle="tab" style="text-align:center; font-size:2em;">糖</a></li>
                        <li class="mod2tab col-sm-2"><a href="#mod2tab3" data-toggle="tab" style="text-align:center; font-size:2em;">冰/热</a></li>
                    </ul> !-->

                    <div class="row" style="margin-bottom: 25px;">
                        <button class="btn btn-default col-sm-2 mod6select" name="珍珠" value="0.50" onclick="this.blur()">珍珠</button>
                        <button class="btn btn-default col-sm-2 mod6select" name="布丁" value="0.50" onclick="this.blur()">布丁</button>
                        <button class="btn btn-default col-sm-2 mod6select" name="仙草" value="0.50" onclick="this.blur()">仙草</button>
                        <button class="btn btn-default col-sm-2 mod6select" name="椰果" value="0.50" onclick="this.blur()">椰果</button>
                        <button class="btn btn-default col-sm-2 mod6select" name="紅豆" value="0.50" onclick="this.blur()">紅豆</button>
                    </div>
          

                    <div class="row" style="margin-bottom: 25px;">
                        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar1" value="无糖"  onclick="this.blur()">无糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar1" value="三分糖" onclick="this.blur()">三分糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar1" value="半糖" onclick="this.blur()">半糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar1" value="八分糖" onclick="this.blur()">八分糖
                            </label>
                            <label class="btn btn-default mod2radiobtn" id = "fullSugar">
                                 <input type="radio" class="mod2radioSugar" name="sugar1" value="全糖" onclick="this.blur()" checked>全糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar1" value="多糖" onclick="this.blur()">多糖
                            </label>
                        </div>
                    </div>


                    <div class="row" style="margin-bottom: 25px;">
                        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
                        {{#if thisitem.hot}}
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice1" value="热" onclick="this.blur()" id="hot">热
                            </label>
                        {{else}}
                        {{/if}}
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice1" value="去冰" onclick="this.blur()">去冰
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice1" value="少冰" onclick="this.blur()">少冰
                            </label>
                            <label class="btn btn-default mod2radiobtn" id = "fullIce">
                                 <input type="radio" class="mod2radioIce" name="ice1" value="正常冰" onclick="this.blur()" checked>正常冰
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice1" value="全糖" onclick="this.blur()">多冰
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


