<template name="categories">
	<script>
		$(document).ready(function() {

			$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
				event.preventDefault();
				$(this).ekkoLightbox();
			});
		});


	</script>
	{{> nav}}
    
	<div class="container" style="margin-top: 20px;">
		<div class="alert alert-danger" style="background-color: black !important; border-color: #e3d4a1 !important; border-radius: 5px; border: 3 solid; color: #e3d4a1;">
			<h1 align="center">Welcome</h1>
            <div class="input-group">
				<input type="text" id='menu_item_id' class="form-control" placeholder="Search for...">
			  <span class="input-group-btn">
				<button class="btn btn-default" id='search' type="button">Go!</button>
			  </span>
			</div><!-- /input-group -->

		</div>
		
		<div class="row">
			{{#each categories}}
			
				<a href="/menu/table/{{../tableid}}/category/{{_id}}" class="col-md-3 col-sm-4 col-xs-6 "> <!--animated flipInY">
					
					<img class="img-responsive img-thumbnail" src="/img/{{pic_id}}" /> -->
					
					<h2 style="color: black; text-align: center;">{{name}}</h2>
				</a>
			
			{{/each}}

		</div>

	</div>
</template>