<template name="items">
	{{> nav}}
	<div class="shop-items">
		<div class="container-fluid">
			<div class="row">
				{{#each products}}
					<div class="col-xs-6 col-sm-3 col-md-2" style="margin-top: 5px; margin-bottom: 5px; padding-left: 1px; padding-right: 1px;">
						<!-- Restaurant Item -->
						<div class="item thumbnail" style="margin-bottom:0;"> <!-- animated flipInY">
							
						    <img class="img-responsive" alt="" style="display: block; margin-left: auto; margin-right: auto;">
						    -->
							<!-- Item details -->
							<div class="item-dtls">
								<!-- product title -->
								<h4 style="color: black; text-align: center; font-size:16px; height:34px; margin-top:5px; margin-bottom:2px;">{{name}}</h4>
								<!-- price -->
								<h3 class="price lblue" style="color: red; text-align: center; margin-top: 2px; margin-bottom:5px; padding-top:0;">$ {{price}}</h3>
							</div>
							
						    <div class="ecom bg-lblue cartbtn btn btn-block btn-primary" style="font-size: 1.5em;">Order</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>

{{>mod2_modal}}
{{>mod3_modal}}
{{>mod4_modal}}
{{>mod5_modal}}
{{>mod6_modal}}


{{> addtocart_confirm_modal}}
</template>

<template name="addtocart_confirm_modal">
    <div class="modal fade" id="addtocard_confirm_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	<h1 align=center>已加入点单！</h1>
                	<div class="row">
                		<button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" data-dismiss="modal">Comfirm</button>
	                </div>
                </div>
            </div>
        </div>
    </div>
</template>