<template name="menulayout">

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<title>川菜王</title>
	</head>

	<body id="menu">

		<div class="container-fluid" style="padding-left: 2px; padding-right: 2px;padding-bottom: 70px;">
			{{>yield}}
		</div>

		<div class="container-fluid animated fadeInUp" style="padding-left: 0; padding-right: 0; position: fixed; bottom:0; width:100%;z-index: 999;">
			<div class="btn-group btn-group-justified" role="group" aria-label="..." style="width:100%;">
				<div class="btn-group" role="group">
					<a class="btn btn-default" href="/menu/table/{{tableid}}" role="button">
						<h3><span class="glyphicon glyphicon-th" aria-hidden="true"></span> 回退 </h3>
					</a>
				</div>

                <div class="btn-group" role="group">
					<a class="btn btn-default" id ="confirmOrder" role="button" >
						<h3><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 点单 <label class="cartnotification">  
						{{cartquantity.orders.length}} </label> </h3>
					</a>
				</div>

			</div>
		</div>

    </body>

</template>