<template name="singleitem">
    {{> nav}}

    <section>
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="item thumbnail animated flipInY">
                   {{#with item}}
                        <img class="img-responsive" src="/img/{{pic_id}}" alt="" style="display: block; margin-left: auto; margin-right: auto;">
                        <!-- Item details -->
                        <div class="item-dtls">
                            <!-- product title -->
                            <h4 style="color: black; text-align: center;">{{name}}</h4>
                            <!-- price -->
                            <h3 class="price lblue" style="color: red; text-align: center;">$ {{price}}</h3>
                        </div>
                        <br>
                        <div class="ecom bg-lblue cartbtn btn btn-block btn-primary" style="font-size: 1.5em;">点菜</div>
                    {{/with}}
                </div>
            </div>
        </div>
    </section>

</template>
