html, body {
	height: 100%;
}

.pos {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
	background: rgb(245,246,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
	position: absolute;
	top: 48px;
	bottom: 0;
	width: 100%;
	padding: 0!important;
}

.pos_table {
	font-size: 2em;
}

.table_zone {
	border: 1px solid #a1a1a1;
	background: rgb(245,246,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}

.table_zone>.row>div {
	padding: 0;
	height: 25%;
}

.table_zone>.row>div>.btn {
	margin: auto;
	border: 1px solid #a1a1a1;
	height: 100px;
	border-radius: 100px;
	width: 100px;
	margin-top: 13%;
}

#order_zone {
	border: 1px solid #a1a1a1;
	height: 80%;
	overflow: auto;
	background-color: #f5f5f5;
	padding-bottom: 25px;
}

#control_zone {
	border: 1px solid #a1a1a1;
	height: 20%;
	background: rgb(245,246,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}

.pos_side_button {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 60px;
	width: 60px;
	font-size: 1.5em;
}

.control_button {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.5em;
	text-align: center;
}

.container {
	background-color: rgba(255,255,255,0.9);padding: 20px;border-radius: 5px;box-shadow: 0 0 20px 3px #666;
}

.table-btn-a {
	height: 60px;
	margin: 5px;
	border-radius: 10px;
}

.table-btn-s {
	height: 60px;
	margin: 5px;
	botder-radius: 10px;
}

.table-btn-v {
	height: 60px;
	margin: 5px;
	border-radius: 10px;
}

.table-btn-l {
	height: 60px;
	margin: 5px;
	border-radius: 10px;
}

.table-alert {
	background:#ff6666;
}

.table-use {
	background:#ffff1a;
}

.table-btn-s {
	height: 60px;
	margin: 5px;
	border-radius: 10px;
}

.table-btn-red {
	border-style: solid;
	border-color: red;
	border-width: 5px;
}

.table-btn-blue {
	border-style: solid;
	border-color: blue;
	border-width: 5px;
}

.table-btn-yellow {
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
}

.table-btn-green {
	border-style: solid;
	border-color: green;
	border-width: 5px;
}

.table-btn-purple {
	border-style: solid;
	border-color: purple;
	border-width: 5px;
}

.table-btn-black {
	border-style: solid;
	border-color: black;
	border-width: 5px;
}

.table-btn-c {
	margin: 5px;
	margin-left: 20px;
	margin-right: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.table-btn-b1 {
	margin: 5px;
	margin-left: 20px;
	height: 100px;
	width: 200px;
	border-radius: 10px;
}

.table-btn-b2 {
	margin: 5px;
	margin-left: 10px;
	margin-right: 10px;
	height: 200px;
	width: 100px;
	border-radius: 10px;
}

.table-btn-t {
	height: 60px;
	margin: 5px;
	border-radius: 10px;
}

.numpad {
	font-size: 2.5em;
	height: 100px;
}

.numpad-del {
	font-size: 2.5em;
	height: 100px;
}

.paytypebtn {
	font-size: 2em;
	height: 60px;
	border-radius: 5px;
}

.cbtablelistbtn_selected {
	background: #ffff1a;
}

.cbtablelistbtn_selected:hover {
	background: #ffff1a;
}

.cbtablelistbtn_selected:active {
	background: #ffff1a !important;
}

