<template name="home">
	{{> nav}}

	<div class="container">
		<div class="alert alert-danger" style="background-color: black !important; border-color: #e3d4a1 !important; border-radius: 5px; border: 3 solid; color: #e3d4a1;">
			<h1 align="center">Control Terminal</h1>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<a class="btn btn-primary btn-lg btn-block" href="/posadmin/tablelist" role="button" style="color: #e3d4a1 !important; margin-bottom: 20px;">POS</a>
			</div>
			<div class="col-sm-4 col-md-4">
				<a class="btn btn-primary btn-lg btn-block" href="/orderslist" role="button" style="color: #e3d4a1 !important; margin-bottom: 20px;">Order</a>
			</div>
			<!--
			<div class="col-sm-4 col-md-4">
				<a class="btn btn-primary btn-lg btn-block" href="/tablesel" role="button" style="color: #e3d4a1 !important; margin-bottom: 20px;">点餐</a>
			</div>
			-->
			<div class="col-sm-4 col-md-4">
				<a class="btn btn-primary btn-lg btn-block" href="/membership" role="button" style="color: #e3d4a1 !important; margin-bottom: 20px;" id="homememberview">Membership</a>
			</div>
			<div class="col-sm-4 col-md-4">
				<a class="btn btn-primary btn-lg btn-block" href="/newmember" role="button" style="color: #e3d4a1 !important; margin-bottom: 20px;">Regisiter</a>
			</div>
			<div class="col-sm-4 col-md-4">
				<a class="btn btn-primary btn-lg btn-block" href="/inventory" role="button" style="color: #e3d4a1 !important; margin-bottom: 20px;">Stock</a>
			</div>
			<div class="col-sm-4 col-md-4">
				<a class="btn btn-primary btn-lg btn-block" href="/backoffice" role="button" style="color: #e3d4a1 !important; margin-bottom: 20px;">Backoffice</a>
			</div>
		</div>

		<div class="row">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
			  <button class="btn btn-default btn-lg btn-block" id="changePasswordBtn" role="button">Change login Password</button>
			</div>
		</div>
	</div>
	  {{>changePassword_modal}}

</template>
