<template name="nav">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home" style="color: #e3d4a1 !important;">Blank</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/posadmin/tablelist" style="color: #e3d4a1 !important;">POS</a></li>
                <li><a href="/orderslist" style="color: #e3d4a1 !important;">Order</a></li>
                <li><a href="/membership" id="navmemberview" style="color: #e3d4a1 !important;">Member Ship</a></li>
                <li><a href="/newmember" style="color: #e3d4a1 !important;">Regisiter</a></li>
                <li><a href="/backoffice" style="color: #e3d4a1 !important;">Back  Office</a></li>
                <li><a href="/signup" style="color: #e3d4a1 !important;">New Member Signup</a></li>
                <li><a href="/stock" style="color: #e3d4a1 !important;">Stock</a></li>
                <li class="logout"><a style="color: #e3d4a1 !important;">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</template>