form {
	margin: 0;
}

.tableselbtn {
	margin: 5px;
	height: 50px;
	border-radius: 8px;
}

.specreqbtn {
	width: 9%;
	height: 50px;
	font-size:1.5em;
}

.specreqbtn:active{
	background: #ffff1a !important;
}

.specreqbtn2 {
	width: 6%;
	height: 50px;
	padding-left:0;
	font-size:1em;
}

.specreqbtn2:active{
	background: #ffff1a !important;
}

.specreqtitle {
	width:8%;
	float:left;
	font-size:2em;
	text-align: center;
	margin-top: 8px;
}

.specreq_selected {
	background: #ffff1a;
	font-size: 1.5em;
}

.specreq_selected:hover {
	background: #ffff1a;
	font-size: 1.5em;
}

.col-md-10s {
	width:12.5%;
}

.specreqtab {
	padding: 0;
}

.specreq1 {
	height:60px;
	font-size: 1.5em;
}

.specreq1:active{
	background: #ffff1a !important;
	font-size: 1.5em;
}

.specreq2 {
	height: 80px;
	font-size: 1.5em;
}

.specreq2:active{
	background: #ffff1a !important;
	font-size: 1.5em;
}

.fenmiantab {
	padding: 0;
}

.fenmian1 {
	height:60px;
	font-size: 1.5em;
}

.fenmian1:active{
	background: #ffff1a !important;
	font-size: 1.5em;
}

.fenmian_selected {
	background: #ffff1a;
	font-size: 1.5em;
}

.fenmian_selected:hover {
	background: #ffff1a;
	font-size: 1.5em;
}