<template name="kitchenview">
    <script>
        $(document).ready(function() {
            $('.list-group-item').on('mouseover', function(event) {
                event.preventDefault();
                $(this).closest('li').addClass('open');
            });
            $('.list-group-item').on('mouseout', function(event) {
                event.preventDefault();
                $(this).closest('li').removeClass('open');
            });
        });
    </script>

    {{> nav}}

    <div class="container">
        <div class="alert alert-warning">
            <h1 align="center">厨房总线</h1>
            <p align="center">点击完成的项目</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <ul class="list-group">
                    {{#each carts}}
                            {{#each orders}}
                                {{#if equals status 'waiting'}}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-9 col-sn-9" style="margin-bottom: 0;">
                                                <img src="/img/{{pic_id}}" alt="..." class="img-responsive img-thumbnail pull-left" width="120px" height="auto" style="margin-right: 20px;"/>
                                                <h2><strong>{{../tableid}}号桌 - {{name}}</strong></h2>
                                                <h3>配料：{{ingred}}</h3>
                                            </div>
                                            <div type="button" class="col-xs-3 col-sm-3 btn btn-default ordermade" data-index="{{itemid}}" style="height: 120px;">
                                                <span class="glyphicon glyphicon-ok" style="font-size: 3.5em; margin-top: 25px;"></span>
                                            </div>
                                        </div>
                                    </li>
                                {{/if}}
                            {{/each}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
