<template name="login">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="login-form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Login</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-lg-12">
                            <label>用户名</label>
                            <input type="text"  class="form-control" id="username" value="">
                        </div>
                        <div class="form-group col-lg-12">
                            <label>密码</label>
                            <input type="password" name="" class="form-control" id="password" value="">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">登陆</button>
                    </div>
                 
                     
                   
                </div>
            </form>
        </div>
    </div>
    {{>changePassword_modal}}
</template>

<template name="changePassword_modal">
    <div class="modal fade" id="changePassword_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                        <form id="changePassword_form" action="#">
                            <div class="input-group">
                                 <input class="form-control" type="password"  style="margin-bottom: 20px;" id="backOfficePassword" placeholder="後台密碼" required>
                                 <input class="form-control" type="password"  style="margin-bottom: 20px;" id="oldPassword" placeholder="旧密码" required>
                                 <input class="form-control" type="password"  style="margin-bottom: 20px;" id="newPassword" placeholder="新密码" required>
                                 <input class="form-control" type="password"  style="margin-bottom: 20px;" id="newPasswordCheck" placeholder="再次输入新密码" required>
                                <button class="btn btn-primary col-sm-12 col-md-12" type="submit">确定</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</template>