<template name="backoffice">
	{{> nav}}

	<div class="container">
		<div class="alert alert-danger" style="background-color: black !important; border-color: #59291B !important; color: #e3d4a1;">
			<h1 align="center">Back Office</h1>
		</div>
		<div class="row">
			
			<div class="col-sm-12 col-md-6 col-md-offset-3">
				<form id="keyform" action="#">
                    <div class="input-group">
                        <input class="form-control" type="password" name="officekey" id="officekey" placeholder="" required>
                        <span class="input-group-btn"><button class="btn btn-primary" type="submit">Comfirm</button></span>
                    
                    </div>
                </form>
            </div>
            <button class="btn btn-primary" id="changePasswordBtn" >Change Password</button>

		</div>
	</div>
	{{>backoffice_modal}}
	{{>systemreset_modal}}
    {{>changePassword1_modal}}
</template>

<template name="backoffice_modal">
    <div class="modal fade" id="backoffice_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	{{#if book}}
                    <h1 align=center>Today Revenue</h1>
                    <h2 align=center>$ {{book.sales}}</h2>
                    <h1 align=center>Cash</h1>
                    <h2 align=center>$ {{book.cash}}</h2>
                    <h1 align=center>Card</h1>
                    <h2 align=center>$ {{book.card}}</h2>
                    <h1 align=center>Tips</h1>
                    <h2 align=center>$ {{book.tips}}</h2>
                    {{/if}}
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" id="systemreset">systemreset</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" id="csvdownload">csvdownload</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" id="membershipdownload">membershipdownload</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" data-dismiss="modal">comfirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="systemreset_modal">
    <div class="modal fade" id="systemreset_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" id="systemresetyes">Yes?</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px; margin-top:20px;" id="systemresetno">No?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="changePassword1_modal">
    <div class="modal fade" id="changePassword1_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                        <form id="changePassword1_form" action="#">
                            <div class="input-group">
                                 <input class="form-control" type="password"  style="margin-bottom: 20px;" id="oldPassword" placeholder="oldPassword" required>
                                 <input class="form-control" type="password"  style="margin-bottom: 20px;" id="newPassword" placeholder="newPassword" required>
                                 <input class="form-control" type="password"  style="margin-bottom: 20px;" id="newPasswordCheck" placeholder="newPasswordCheck" required>
                                 <input class="form-control" type="password"  style="margin-bottom: 20px;" id="changePasswordKeycheck" placeholder="KeyPassword"  required>
                                <button class="btn btn-primary col-sm-12 col-md-12" type="submit">Submit</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</template>