<template name="signup">
    {{> nav}}

	<div class="container">
		<div class="alert alert-danger" style="background-color: black !important; border-color: #59291B !important; color: #e3d4a1;">
            <h1 align="center">New Member Signup</h1>
		</div>
		<div class="row">
			
			<div class="col-sm-12 col-md-6 col-md-offset-3">
				<form id="signupform" action="#" style="margin-bottom: 20px;">
                    <div class="input-group">
                        <input class="form-control" style="margin-bottom: 20px;" type="text" name="membername" id="memberfirstname" placeholder="(Firstname)" required>
                        <input class="form-control" style="margin-bottom: 20px;" type="text" name="membername" id="memberlastname" placeholder="(Lastname)" required>
                        <input class="form-control" style="margin-bottom: 20px;" type="text" name="memberphone" id="memberphone" placeholder="(Phone #)" required>
                        <input class="form-control" style="margin-bottom: 20px;" type="text" name="memberemail" id="memberemail" placeholder="Email" required>
                        <button class="btn btn-block btn-primary col-xs-12 col-sm-12 col-md-10 " type="submit">Submit</button>
                    </div>
                </form>
            </div>
		</div>
	</div>
	{{>signup_alert}}
</template>

<template name="signup_alert">
    <div class="modal fade" id="signup_alert_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 align="center">Your membership card is ready to be collected!</h3>
                    <div class="row">
                    	<button align="center" class="btn btn-primary col-xs-12 col-sm-12 col-md-12" data-dismiss="modal">Thanks</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>